@font-face {
  font-family: "Bitter-Regular";
  src: url("../fonts/Bitter-Regular.otf") format("opentype");
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

* {
  font-family: "OpenSans-Regular";
  margin: 0%;
  padding: 0%;
  line-height: 100%;
  text-decoration: none;
  list-style: none;
}

h2 {
  font-size: 120%;
  font-weight: normal;
  font-family: "Bitter-Regular";
  margin: 1% 0 0 0;
  width: 100%;
}

h3 {
  font-size: 100%;
  font-weight: normal;
  font-family: "Bitter-Regular";
  margin: 3% 0;
}

.title {
  font-family: "Bitter-Regular";
  margin: auto 0 auto 1%;
}

header {
  background-color: #FFE521;
  width: 100%;
  height: 5%;
}

#logo {
  width: 5%;
  height: 100%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topMenu {
  width: 88%;
  justify-content: flex-start;
  align-items: center;
}

.topMenu ul {
  width: 55%;
  justify-content: flex-start;
  align-items: baseline;
}

.topMenu li {
  width: 20%;
}

.office {
  font-size: 150%;
}
.classMenu {
  font-size: 100%;
}

.fa-user-circle {
  font-size: 200%;
  margin: auto;
}

main {
  margin: 1% 3%;
}

#tabMenu {
  margin-bottom: 1%;
  border-bottom: 2px solid lightgray;
}

.data-students:first-child {
  margin-top: 0.5%;
}

#tabMenu ul {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 110%;
}

.tab {
  margin: 0% 3% 1%;
  padding: 0% 2%;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.tab:hover, .title:hover {
  border-bottom: 3px solid #FF009E;
}

#principal {
  width: 100%;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data {
  padding: 0 0.9%;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 1% 0;
}

.subConteiner {
  justify-content: center;
}

.data-studentes, .total-score, .detailed-score {
  margin: 0 2%;
}

.team-score {
  margin: 0 8%;
}

.sub-column {
  width: 20%;
}

div.sub-column > p {
  line-height: 150%;
  font-size: 90%;
  font-weight: normal;
}

.status-principal {
  font-weight: bold;
}

#students {
  padding: 0% 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#dashbTitle, #dashTeamTitle {
  font-size: 100%;
  font-weight: normal;
  font-family: "Bitter-Regular";
  margin: 1% 0 0 0;
  width: 100%;
}

.overviewConteiner {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0 3%;
  width: 94%;
}

.studentCard {
  width: 29%;
  height: 140px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  justify-content: flex-start;
}

.studentPhoto {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.photoConteiner {
  width: 35%;
  height: 100%;
  border-radius: 10px;
}

.studentInfo {
  padding-left: 3%;
  width: 100%;
}

div.studentInfo > p {
  line-height: 150%;
  font-size: 90%;
}

p.name {
  font-size: 100%;
  font-weight: 800;
  width: 100%;
}

/* .angle {
  color: rgb(240, 231, 231);
}
i.angle:hover {
  color: #FFE521;
} */

#headerBranch {
  white-space: nowrap;
  display: inline-block;
  margin-top: 5%;
  padding: 0 4% 0 2%;
}

#headerClass, #headerSprint {
  font-family: "Bitter-Regular";
}

li#selectedBranch {
  white-space: nowrap;
  padding: 0 5%;
}
ul li#selectedBranch, ul li#selectedClass, ul li#selectedSprint {
  display: block;
  position: relative;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}

ul li#selectedClass, ul li#selectedSprint {
  width: 80px;
}

ul li#selectedBranch {
  width: auto;
  min-width: 150px;
}

ul li#selectedBranch {
  line-height: 100%;
}

ul li#selectedBranch > span {
  font-size: 100%;
}

#dropdownBranch, #dropdownClass, #dropdownSprint {
  position: absolute;
  top: 100%;
  left: 0%;
}

header ul li {
  position: relative;
  display: none;
  text-align: center;
  line-height: 300%;
}

header li ul {
  position: absolute;
  left: 80px;
  top: 0;
  display: none;
}

li#selectedBranch:hover ul#dropdownBranch, li#selectedClass:hover ul#dropdownClass, li#selectedSprint:hover ul#dropdownSprint, header ul:hover li {
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgb(240, 231, 231);
}

header ul li:hover {
  background-color: #FF009E;
}

#ulSelectedBranch, #ulSelectedClass, #ulSelectedSprint {
  width: auto;
}

ul#dropdownBranch {
  font-size: 70%;
}

#ulSelectedClass, #ulSelectedSprint {
  display: none;
}

#profileStudents {
  display: none;
}

#perctOfActiveStudents::before, #perctOfInactiveStudents::before, #aboveAvg::before, #underAvg::before, #noPointsPercent::before, #aboveAvgTech::before, #underAvgTech::before, #noPointsTechPercent::before, #aboveAvgSoft::before, #underAvgSoft::before, #noPointsSoftPercent::before {
  content: " (";
}

#perctOfActiveStudents::after, #perctOfInactiveStudents::after, #aboveAvg::after, #underAvg::after, #noPointsPercent::after, #aboveAvgTech::after, #underAvgTech::after, #noPointsTechPercent::after, #aboveAvgSoft::after, #underAvgSoft::after, #noPointsSoftPercent::after {
  content: "%)";
}

#classAvgScore::after, #classTechAvgScore::after, #classSoftAvgScore::after, #npsScore::after, #happyStudents::after {
  content: "%"
}

#principalChartDiv {
  width: 30%;
  height: 30%;
  justify-content: flex-end;
  margin: 4% 0 0 5%;
}

#performanceCharts {
  flex-wrap: wrap;
  width: 60%;
  justify-content: flex-start;
  margin-right: 3%;
}

#mediaChartDiv, #techMediaChartDiv, #softMediaChartDiv, #abvMediaChartDiv, #abvTechMediaChartDiv, #abvSoftMediaChartDiv {
  width: 28%;
  height: 28%;
  margin: 0 1% 5%;
  vertical-align: top;
}

#npsScoreDiv, #happyStudentsDiv, #jediMasterScoreDiv, #mentorsScoreDiv {
  width: 28%;
  height: 28%;
  margin: 0 1% 5%;
  vertical-align: top;
}
#teamCharts {
  width: 100%;
}

#screenLock {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: white;
  display: block;
}
#login {
  border: 1px solid black;
  background-color: #FFE521;
  font-size: 150%;
  font-weight: 500;
  font-family: "Bitter-Regular";
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  border-radius: 10px;
  padding-top: 1%;
}
#login p {
  text-align: center;
}
#loginName {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 60%;
  border: 1px solid gray;
  padding-left: 1%;
}
#loginPassword {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 60%;
  border: 1px solid gray;
  padding-left: 1%;
}
#send {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 30%;
  height: 20%;
  box-shadow: none;
  font-size: 60%;
  border: none;
  background-color: #FF009E;
  color: white;
  cursor: pointer;
}
button#send:hover {
  color: black;
}
#lockLogo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}